* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5eccf;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.first {
  background: #fff;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 30px;
  color: #cc5500;
  margin: 30px 0 20px 0;
}
h3 {
  color: #777;
}
button {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #cc5500;
  color: #fff;
  border: none;
}

button:hover {
  cursor: grab;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.25);
}
