* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sens-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: #ff676d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  max-width: 400px;
  width: 100%;
}

.box .search-box {
  position: relative;
  height: 50px;
  max-width: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin: auto;
  transition: all 0.3s ease;
}

.search-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}

#check:checked ~ .search-box {
  max-width: 380px;
}

.search-box label {
  position: absolute;
  top: 0;
  right: -2px;
  width: 50px;
  background: #fff;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  color: #ff676d;
  font-size: 20px;
  height: 100%;
}

#check:checked ~ .search-box label {
  background: #ff676d;
  color: #fff;
  border-radius: 0 25px 25px 0;
}

#check {
  display: none;
}
