@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #121321;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    perspective: 1000px;    
}

section::before{
    content: " ";
    position: absolute;
    height: 240px;
    width: 240px;
    transform: translate(-150px, -100px);
    border-radius: 50%;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
}
section::after{
    content: " ";
    position: absolute;
    height: 240px;
    width: 240px;
     transform: translate(150px, 100px);
    border-radius: 50%;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
}


.container{
    height: 225px;
    width: 375px;
    border-radius: 25px;
    position: relative;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
}
.container:hover{
    transform: rotateY(180deg);
}

.container .card{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backface-visibility: hidden;
}

.front-face .logo, .front-face header{
    display: flex;
    align-items: center;
}

.front-face header{
    justify-content: space-between;
}


.front-face .logo img{
    width: 48px;
    margin-right: 10px;

}

h5{
    font-size: 16px;
    font-weight: 500;
}


.front-face .chip{
    width: 50px;
}

.front-face .card-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}

h6{
    font-size: 10px;
    font-weight: 400;
}

h5.number{
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name{
    margin-top: 20px;
}


.card.back-face{
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}

.card.back-face h6{
    font-size: 8px;
}

.back-face .magnetic-strip{
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background: #000;
}


.card.back-face .signature{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    height: 40px;
    
    width: 80%;
    background: #fff;
    background: repeating-linear-gradient(#fff, #fff 3px, #efefef 0px, #efefef 9px);
    border-radius: 6px;
}

.signature i{
    color: #000;
    font-size: 12px;
    background: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: -30px;
    z-index: -1;
}

.back-face h5{
    margin-top: 15px; 
    font-size: 8px;
}

